_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
/src
generated_*.yml



/_source/*
!/_source/_data/*
!/_source/_includes/*
!/_source/_layouts/*
!/_source/_templates/*
!/_source/css/*
!/_source/fonts/*
!/_source/img/*
!/_source/js/*
/kicad-doc-built
/kicad-doc
