<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	<ul class="nav navbar-nav navbar-right">
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">5.0 <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="/">5.0</a></li>
				<li><a href="/">4.0</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
				{{ site.data.generated_languages[page.lang].label }}

				<span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				{% for item in site.data.generated_languages %}
				<li>
					<a href="/{{ item[0] }}" alt="{{ item[1].label }}">
						<span>{{ item[1].label }}</span>
					</a>
				</li>
				{% endfor %}
			</ul>
		</li>
	</ul>
</div>

<!-- /.navbar-collapse -->
